#android-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .splash-spacer {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    .splash-html-area {
      //   border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
